.file-div {
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  position: relative;
  height: 30px;
  width: 8vw;
  padding: 10px;
  font-size: 1.3dvh;
  overflow: hidden;
}

.clicked-file-div {
  font-style: italic;
  background-color: #1c1c1c;
}

.active-file-div {
  background-color: #1c1c1c;
}

.x-icon {
  margin-right: 5px;
}

.file-tab-text {
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 8vw;
  padding-left: 5%;
}
